---
import ClassLayout from '../../../layouts/ClassLayout.astro';
import SequencePresentation from '../../../components/SequencePresentation.astro';
import ActivityLinks from '../../../components/ActivityLinks.astro';
import BackButton from '../../../components/BackButton.astro';

const description = `Dans cette séquence, les élèves apprennent à identifier les constituants d’un réseau informatique, à configurer des ordinateurs (adressage IP, connexion WiFi) et à vérifier leur bon fonctionnement dans une salle de technologie. Ce scénario  met en avant les enjeux citoyens et techniques d’un réseau bien configuré.`;

const activities = [
  {
    title: "Fiche de lancement",
    description: "Activité 1 : Comment paramétrer de nouveaux ordinateurs pour qu’ils puissent communiquer sur le réseau ? (révisions de 5ème)"
  },
  {
    title: "Une classe mobile est installée, mais les ordinateurs portables ne parviennent pas à se connecter au réseau de la salle.",
    description: "Activité 2 :  Analyser le réseau existant : « Comment est paramétré le réseau actuel ? "
  },
  {
    title: "Pour augmenter le nombre de postes disponibles, le professeur décide d’utiliser la classe mobile.",
    description: "Activité 3 : Ajouter de nouveaux matériels : Comment faire communiquer les ordinateurs entre eux ? "
  },
  {
    title: "Ressources",
    description: "Documents ressources à exploiter"
  }
];

const level = "4eme";
---

<ClassLayout title="Séquence 7 - 4ème" level={level}>
  <BackButton href={`/${level}`} />
  <h1>Séquence 7 - Créer un réseau local associé à une borne WiFi</h1>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2885775986633981"
     crossorigin="anonymous"></script>
<!-- bloc 17 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2885775986633981"
     data-ad-slot="4822408536"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  
  <SequencePresentation 
    title="La station météo et la gestion des données"
    description={description}
    activities={activities.map(a => a.description)}
  />

  <ActivityLinks sequenceNumber={7} activities={activities} level={level} />
</ClassLayout>

<style>
  h1 {
    text-align: center;
    color: #1e3a8a;
    margin-bottom: 2rem;
  }
</style>
